name: Optimize resource pack
on:
  push:
    branches:
      - master
jobs:
  packsquash:
    name: Optimize resource pack
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # A non-shallow repository clone is required
      - name: Run PackSquash
        uses: ComunidadAylas/PackSquash-action@v4
        with:
          packsquash_version: latest
          options: |
            pack_directory = '.'
            output_file_path = '/tmp/Burb.zip'
            shader_source_transformation_strategy = 'keep_as_is'
      - name: Calculate SHA1
        run: |
          echo "PACK_SHA1=$(sha1sum /tmp/Burb.zip | cut --delimiter " " --fields 1)" >> "$GITHUB_ENV"
      - name: Tag and create release
        uses: softprops/action-gh-release@v2
        with:
          description: "SHA1: ${{ env.PACK_SHA1 }}"
          tag_name: master-v${{ github.run_number }}
          files: /tmp/Burb.zip
